<header>
    <h1>{{judul}}</h1>

    <div class="nav">
        <a href="/">Home</a>
        <a href="/tentang">Tentang</a>
        <a href="/bantuan">Bantuan</a>
        <a href="/berita">Berita</a>
    </div>
</header>